<section class="card">
    <div class="card-body text-center">
        <h1>PRUEBA</h1>
        <p>
            PÁGINA DE PRUEBA
        </p>
        <h1 class = "display-3 text-center"><var>y</var> = <var>m</var><var>x</var> + <var>b</var></h1>
    </div>
</section>
<br />
<br />

<div class="container p-2">
    <div class="row">
        <div class="col-sm mt-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">AGENCIA DE DISEÑO</h5>
                    <h6 class="card-subtitle mb-2 text-muted">El cambio empieza por
                        la imagen</h6>
                    <p class="card-text text-danger">Una nueva imagen te ayudará como punto de
                        partida para que tu Compañía se vea diferente, más moderna y
                        al mismo tiempo que apuestas por el cambio. </p>
                    <a href="https://venturaconsultors.com/imagen" target="_blank"
                        class="btn btn-info btn-sm">Imagen</a>
                    
<div class="
spinner-grow text-danger spinner-grow-sm float-right
">
</div>
                </div>
            </div>
        </div>
        <div class="col-sm mt-3">
            <div class="card  bg-danger text-white " style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">VENTURACONSULTORS</h5>
                    <h6 class="card-subtitle mb-2  text-white">Grandes problemas!:
                        soluciones sencillas</h6>
                    <p class="card-text">Analizamos, diagnosticamos, desarrollamos e
                        implantamos las soluciones más adecuadas y óptimas para
                        nuestros clientes. </p>
                    <a href="https://venturaconsultors.com/" target="_blank"
                        class="btn btn-info btn-sm">V-Consultors</a>

                </div>
            </div>
        </div>
        <div class="col-sm mt-3">
            <div class="card bg-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">IN-MEDIATIO</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Resolución de
                        conflictos</h6>
                    <p class="card-text">Ayudamos a resolver los conflictos, no de
                        forma puntual, si no, con resultados que las relaciones
                        entre las partes se mantienen a largo plazo.</p>
                    <a href="http://in-mediatio.net" target="_blank" class="btn btn-info btn-sm">in-mediatio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>